.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1.5rem;
    padding: 1rem 3rem;
    background-color: var(--darkgrey);
    color: var(--grey);
    width: 80%;
    margin-right: auto;
    margin-left:auto;
    
    /* margin: 1rem; */
    border-radius: 3rem;
}
.search-flex input{
    background-color:var(--darkgrey) ;
    width: 100%;
    font-family: "Inter";
    font-size: 0.8rem;
    color: var(--grey);
    border: none;
    font-size: 1.2rem;
}
.search-flex input:focus{
    outline: none;
}